.place__image {
  grid-row: 2 / 4;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

@media screen and (max-width: 600px) {
  .place__image {
    grid-row: 3;
    padding-bottom: 32px;
  }
}