.cover__subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.222;
  margin: 0 auto;
  max-width: 360px;
  text-align: center;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .cover__subtitle {
    line-height: 1.222;
  }
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    font-size: 14px;
    max-width: 90%;
  }
}