.cover__title {
  align-self: end;
  font-size: 72px;
  font-weight: 900;
  line-height: 1.1;
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 900px) {
  .cover__title {
    line-height: 1.055;
  }
}

@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 32px;
    max-width: 90%;
  }
}