.footer__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 18px;
}

@media screen and (max-width: 600px) {
    .footer__list {

    }
}

@media screen and (max-width: 600px) {
    .footer__list {

    }
}

@media screen and (max-width: 600px) {
    .footer__list {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 32px;
    }
}