.place__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  padding-bottom: 12px;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .place__url-heading {
    line-height: 1.3;
  }
}