.place__website {
  align-self: end;
  padding-bottom: 48px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .place__website {
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 32px;
  }
}